.main-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    height: 1000px  
}

.title {
    font-size: 70px;
    font-weight: bolder;
    font-style: italic;
    background-color: red;
    text-decoration: underline;
}

.grid-container {
    display:grid;   
    height: 500px;
    width: 500px;  
    border: 3px black solid;
}

.buttonContainer {
    display: flex;
    justify-content:center;
    gap:20em;
}

button{
    border-radius:5px;
}

.reset {
    background-color: red;
    font-weight: bolder;
    font-size: 40px;
}

.gridElement {
    border: 1px red solid;
}

.gridSize-Button {
    font-size: 30px;
    background-color: blue;
}

.rainbowButton {
    font-size: 30px;
    background-color: purple;
}